@font-face {
  font-family: SF UI Display;
  src: url("https://auricoincentralbank.org/en/static/assets/fuente/San\ Francisco\ Font.otf"),
    url("https://auricoincentralbank.org/en/static/assets/fuente/San\ Francisco\ Font.otf"),
    url("https://auricoincentralbank.org/en/static/assets/fuente/San\ Francisco\ Font.otf"),
    url("https://auricoincentralbank.org/en/static/assets/fuente/San\ Francisco\ Font.otf"),
    url("https://auricoincentralbank.org/en/static/assets/fuente/San\ Francisco\ Font.otf"),
    url("https://auricoincentralbank.org/en/static/assets/fuente/San\ Francisco\ Font.otf");
}

* {
  font-family: "SF UI Display";
}

.contenido a[href]{
  text-decoration: underline;
}
.contenido .no-underline{
  text-decoration: none !important ;
}

a{
  text-decoration: none;
  color:#08131E;
}


h1 {
  font-size: 30px;
  color: #08131E;
}
.contenido{
  text-align: justify !important;
}
.contenido h2 {
  font-size: 24px;
  margin-top: 30px;
  color: #08131E;
}
.contenido p {
  font-size: 18px;
  margin-top: 30px;
  color: #08131E;
}
.contenido a{
  color: #08131E;
}

.contenido li{
  font-size: 18px;  
  color: #08131E;
}

.btn{
  background:#08131E;
  color:#9E9E9E;
  border:transparent;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 4px;
  padding-bottom: 2px;
  border-radius: 9px;
}

.btn:hover{
  background:#c2a959;
}

/* Paleta */
.bg-pearl{
  background:#08131E;
}

.bg-buttermilk{
  background:#F8E7A6;
}
.bg-barley{
  background:#BA9A58;
}
.bg-korma{
  background:#7C542C;
}
.bg-mandalay{
  background:#B27F2B;
}
.bg-sweet{
  background:#F7DE7C;
}
.bg-pale{
  background:#FFF3A5;
}
.bg-ochre{
  background:#d28422;
}
.bg-pizza{
  background:#C0923B;
}

/* Bootstrap */

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.oculto {
  display: none;
}

/* Ajutes tema boostrap */
.bg-dark {
  background: #08131e !important;
  color: #d9d9d9;
}
.borde-dorado {
  border: 4px solid #c2a959;
}
.bg-light,
body {
  background-color: #d0d0d0 !important;
}

img {
  max-width: 100%;
}

/* Menú */

.barra-gris {
  padding: 10px;
  color: #d9d9d9;
}

.barra-superior {
  color: #d9d9d9;
}

.barra-superior img {
  height: 46px;
}

.barra-superior p {
  margin: 0px;
}

.menu-principal .nav-link {
  color: #d9d9d9;
  font-size: 17px;
}
.menu-principal .nav-pills .nav-link {
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.menu-principal .nav-link:not(.active):hover,
.menu-principal .nav-item.active .nav-link {
  color: #d9d9d9;
  border-bottom: 3px solid #fff;
}
.menu-principal .nav-item .nav-link {
  border-bottom: 3px solid #08131e;
  margin-bottom: 8px;
  border-radius: 0px;
}

.menu-superior a {
  color: #08131e;
  font-weight: 500;
  font-size: 14px;
}

.menu-superior > .nav-item:not(:first-child):nth-last-child(n + 1) a:after {
  content: "";
  background-color: #08131e;
  position: relative;
  width: 2px;
  height: 21px;
  top: -12px;
  right: 8px;
  display: block;
}

.menu-superior .nav-item:hover,
.menu-superior .nav-item.active {
  color: #08131e;
  /*border-bottom: 3px solid #08131e;*/
  text-decoration: underline;  
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
}

.menu-superior .nav-item {
  border-bottom: 3px solid #d0d0d0;
}

.menu-superior .nav-item {
  line-height: 1px;
  margin-top: 5px;
}
.menu-superior .nav-item a {
  padding-bottom: 0px;
}

p{
  margin-top:0px;
}

.form-busqueda{
  position: relative;
}

.search {
  padding-left:10px;
  padding-right:10px;
  min-width: 280px;
  height: 28px;

  font-size: 17px;
  border: 3px solid #08131e;
  float: left;
  
  background: #9e9e9e;  
}

.search::-webkit-search-cancel-button,
.search::-webkit-search-decoration,
.search::-webkit-search-results-button,
.search::-webkit-search-results-decoration {
  -webkit-appearance:none;
}


.search-icon {
  border: none;
  background: transparent;
}

.search-icon i {
  right: 7px;
  top: 29px;
  position: absolute;
  font-size: 17px;
  border-left: 3px solid #08131e;
  padding-left: 8px;
  cursor: pointer;
}

.search-icon i:hover {
  background: #c2a959 !important;
}

.contenedor-buscador {
  align-items: end;
}

.contenedor-buscador h2 {
  color: #08131e;
  position: relative;
  top: 15px;
  left: 10px;
  font-size: 30px;
}

.resultados-busqueda a{
  font-size: 14px;
  cursor: pointer;
}

.resultados-busqueda a:hover{
  color:#08131e;
}

.resultados-busqueda  >  .elemento:nth-last-child(n + 2) {

  border-bottom: 3px solid #08131e;
}

.resultados-busqueda .elemento{

  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
  padding-bottom:10px;
}

.resultados-busqueda{
  position: absolute;
  background-color: #9e9e9e;
  width: 100%;
 
  
  margin-top: 29px;
  border: 3px solid #08131e;
}




.sabias-que {
  font-size: 30px;
}
.caja {
  position: relative;
}
#caja-sabias-que {
  position: absolute;
  color: #08131e;
  font-size: 12px;
  text-align: center;
  top: 47px;
  left: 30px;
}

.idiomas {
  background: #9e9e9e;
  font-size: 9px;
  margin-left: 14px;
  height: 21px;
}

/* LISTADO DOCUMENTOS */
.listado-documentos span{
  font-size: 18px;
  color: #08131E;
}

.vida-negocios .listado{
  margin-left:20px;
}
.vida-negocios .listado p{
  margin-top:0px;
  margin-bottom:0px;
}

.vida-negocios .listado a{
  color:#105C9B !important;
  text-decoration:underline 2px solid #105C9B !important;
}

/* CONTACTO */
.contacto {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 65px;
  padding-right: 65px;
  box-shadow: 1px 5px 31px #616161;
  border-radius: 5px;
  background: url("images/contacto.png")  no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contacto label{
  font-size: 18px;
}

.contacto input, .contacto textarea{
  margin-bottom: 20px;
  border:2px solid #090A16;
  border-radius: 8px;
}
.contacto input{
  height:34px;
}
.contacto textarea{
  height:147px;
}


/* FOOTER */
.divisor {
  padding: 22px;
}

.redes {
  border: 8px solid white;
  padding: 20px;
}

.redes i {
  font-size: 54px;
  color: #08131e;
  margin-left: 40px;
  cursor: pointer;
}
.redes i:hover {
  color: #c2a959 !important;
}

footer a{
  color:#d9d9d9;
}

/* Listado elementos */

.listado-elementos .title {
  font-size: 20px;
  text-align: center;
  background: #08131e;
  color: #d9d9d9;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-left: 25px;
  height: 70px;
}

.listado-elementos .imagen,
.listado-elementos .title {
  border: 4px solid #c2a959;
}

.listado-elementos .elemento {
  margin-bottom: 10px;
}


/* Emblema Página */

.colores{
  margin-top: 20px;
}

.colores p{
  font-size: 14px;
  margin-bottom: 0px;
}

.colores .rectangulo{
  width:100%; 
  height:100px;
}

.colores .col{
margin-right: 40px;
}
